/*

  border-top: 4px solid #648880;

*/


/*========================================
  Custom styles
========================================*/
body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/*========================================
  Containers & Rows
========================================*/

.nav {
  text-align: right;
  padding: 5px 0 5px 0;
  border-top: 1px solid #648880;
  border-bottom: 1px solid #648880;
}

.footer {
  font-size: 1.3rem;
  padding: 5px 0 5px 0;
  border-top: 1px solid #648880;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*========================================
  Primary Header
========================================*/
.logo {
  float: left;
  font-weight: 200;
  line-height: 4rem;
  padding: 2rem 0 2rem 0;
  text-transform: uppercase;
}
.tagline {
  margin: 2rem 0 2rem 0;
  text-align: right;
}

/*========================================
  Banner
========================================*/
.banner {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
  border-radius: 10px;
  text-align: center;
  background: #cbe2c1;
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
}

.teaser {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #648880;
  border-radius: 10px;
  text-align: center;

}

/*========================================
  Typography
========================================*/

p, li {
  color: #a9b2b9;
}


/*========================================
  Links
========================================*/
a {
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}
